{
    "presets": [
        ["env",
            {
                "targets": {
                    "browsers": ["last 2 versions"]
                },
                "debug": true
            }
        ],
        "react"
    ],
    "plugins": [
        "babel-plugin-transform-object-rest-spread",
        "babel-plugin-transform-class-properties"
    ]
}