@import '../variables';
@import '../mixins';
@import '../extensions';

.absoluteContainer {
    position: absolute;
    z-index: 1000;
    width: 100vw;

    .menuGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .menu {
            grid-column: 1/4;
            display: grid;
            list-style-type: none;
            background-color: transparent;
            grid-template-columns: repeat(3, 1fr);

            @supports (display: grid) {
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            }

            .linkStyle {
                display: inline-block;
                font: $fontMedium;
                color: #fff;
                text-decoration: none;
                position: relative;

                &::before {
                    content: '';
                    background-color: #fff;
                    height: 1px;
                    position: absolute;
                    bottom: -1px;
                    transition: width 0.15s $cubic;
                    will-change: width;
                    width: 0;
                }

                &:hover {
                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }
}
