@import '../variables';
@import '../mixins';
@import '../extensions';

.absoluteContainer {
    @extend %absoluteContainer;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        /* transition: opacity 0.5s cubic-bezier(0.5, 0.5, 0.2, 1), z-index 0s 0.5s; */


        &.visible {
            z-index: 10;
            opacity: 1;
        }

        &.transitionVisible {
            transition: opacity 0.5s cubic-bezier(0.5, 0.5, 0.2, 1);
        }

        &.hidden {
            z-index: -2;
            opacity: 0;
        }

        &.transitionHidden {
            transition: opacity 1.5s cubic-bezier(0.5, 0.5, 0.2, 1), z-index 0s 1s;
        }
    }

    .container {
        @extend %containContent;



        .cardContainer {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr 1fr 1fr 300px;
            grid-gap: 20px;
            /* grid-column: 2 / 3; */
            grid-row: 2 / 3;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}

.emptyCell {
    height: 320px;
}

.card {
    background-color: #fff;

    &.isScaled {
        height: 340px;
        cursor: pointer;
        border-radius: 3px;
        opacity: 1;
    }

    &.isNotScaled {
        height: 0;
        width: 0;
    }

    .imgContainer {
        will-change: transform;
        transform-origin: top left;

        &.collapsed {
            position: relative;
            background-color: #D5EDF5;
            width: 100%;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #082d3a;
                mix-blend-mode: lighten;
            }
        }

        &.scale {
            position: absolute;
            top: 20%;
            left: 0;
            z-index: 101;
            width: 50%;
        }

        .img {
            filter: grayscale(100%) contrast(1);
            mix-blend-mode: multiply;
            width: 100%;
        }
    }

    .cardText {
        padding: 1em;
        font: $fontSmallBold;
        color: #082d3a;
    }
}

.text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 30%;
    width: 100vw;
    color: #fff;
    font: $fontMedium;
    position: absolute;

    &.fadeUp {
        opacity: 1;
        top: 0;
        z-index: 1001;
    }

    &.fadeDown {
        opacity: 0;
        top: 50%;
        z-index: -1;
    }

    .textContainer {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: center;
    }
}

.crossContainer {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 100px;
    height: 100px;
    justify-self: end;
    grid-template: 1fr / 1fr;
    cursor: pointer;

    .cross {
        align-self: center;
        justify-self: center;

        &::before,
        &::after {
            position: absolute;
            border-radius: 3px;
            content: "";
            height: 2px;
            width: 35px;
            background-color: #fff;
            transition: transform 0.3s linear;
        }

        &.rotate::before {
            transform: rotate(45deg);
        }

        &.rotate::after {
            transform: rotate(-45deg);
        }
    }
}

.hiddenImages {
    display: none;
}