@import '../variables';
@import '../mixins';
@import '../extensions';

.absoluteContainer {
    @extend %absoluteContainer;

    .container {
        @extend %containContent;

        .contentContainer {
            grid-row: 2;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(2, 470px) 400px;
            grid-template-areas:
                ". barchart barchart tools tools ."
                ". text text text text ."
                ". . . . . .";
            overflow-y: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            @media (max-width: 600px) {
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas:
                    "barchart barchart barchart"
                    ". tools ."
                    ". text .";
            }
        }
    }
}

.barChart {
    grid-area: barchart;

    .barChartText {
        font: $fontSmall;
        fill: #fff;
    }
}

.bar {
    fill: #fff;
    width: 25px;
    height: 0;

    @for $i from 1 through length($columnArray) {
        $height: nth($columnArray, $i);

        &.bar#{$i} {
            animation: grow-#{$i} 0.5s cubic-bezier(0.19, 1, 0.22, 1) #{$i/6}s forwards;
        }

        @keyframes grow-#{$i} {
            to {
                height: $height;
            }
        }
    }
}



.aboutToolsContainer {
    grid-area: tools;
    color: #fff;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, min-content);
    grid-column-gap: 15px;
    align-content: center;
    width: 85%;
    font: $fontSmall;

    .aboutTextInnerUl {
        list-style: disc;
    }

    @media (max-width: 600px) {
        grid-template-columns: repeat(2, min-content);
    }
}

.aboutText {
    grid-area: text;
    color: #fff;
    font: $fontSmall;
}