@import '../variables';
@import '../mixins';
@import '../extensions';


.cardContainer {
    border-radius: $borderRadius;

    &.barChart {
        grid-area: barchart;
        width: 80%;
    }

    &.tools {
        grid-area: tools;
        width: 80%;
    }

    &.text {
        grid-area: text;
    }

    &.darkCard {
        background-color: $darkColor;
    }

    &.mediumLightCard {
        background-color: $mediumLightColor;
    }

    &.lightCard {
        background-color: $lightColor;
    }

}