@import '../variables';
@import '../mixins';
@import '../extensions';

.darkCard {
    background-color: $darkColor;
}

.mediumLightCard {
    background-color: $mediumLightColor;
}

.lightCard {
    background-color: $lightColor;
}

.cardContainer {
    width: 80%;
    border-radius: $borderRadius;

    &.barChart {
        grid-area: barchart
    }
}