@import '../variables';
@import '../mixins';
@import '../extensions';

.absoluteContainer {
    position: absolute;

    .container {
        @extend %containContent;

        &::-webkit-scrollbar {
            display: none;
        }

        .textContainer {
            grid-column: 2 / 3;
            grid-row: 2;
            display: grid;
            grid-template-columns: 20% 1fr 20%;
            grid-template-rows: 1fr 40px 40px 40px;
            justify-items: center;
            width: 100vw;
            position: absolute;

            &.fadeUp {
                opacity: 1;
                top: 17%;
                z-index: 1;
            }

            &.fadeDown {
                opacity: 0;
                top: 20%;
                z-index: -1;
            }

            .header {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                font: $fontExtremeLarge;
                color: #466670;
                margin: 0;
            }

            .text1 {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                font: $fontMediumBold;
                color: #466670;
                margin: 0;
            }

            .text2 {
                grid-column: 2 / 3;
                grid-row: 3 / 4;
                font: $fontMediumBold;
                color: #466670;
                margin: 0;
            }

        }
    }
}

.slideContainer {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    position: relative;
    width: 200px;
    overflow: hidden;
}

.slideEl {
    position: absolute;
    width: 100%;
    font: $fontMediumBold;
    color: #466670;
    margin: 0;
    text-align: center;

    @for $i from 1 through 14 {
        &.slideToLeft:nth-child(#{$i}) {
            transform: translate3d(100%, 0, 0);
            animation: slide 42s cubic-bezier(0.19, 1, 0.22, 1) #{$i * 3}s infinite;
        }
    }
}

@keyframes slide {

    2%,
    7.14% {
        transform: translate3d(0, 0, 0);
    }

    10.14%,
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}