@import '../variables';
@import '../mixins';
@import '../extensions';

.absoluteContainer {
    @extend %absoluteContainer;

    .container {
        @extend %containContent;

        &::-webkit-scrollbar {
            display: none;
        }

        .textContainer {
            grid-column: 2 / 3;
            grid-row: 2;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 130px 20%;
            position: absolute;

            &.fadeUp {
                opacity: 1;
                top: 0;
                z-index: 1;
            }

            &.fadeDown {
                opacity: 0;
                top: 50%;
                z-index: -1;
            }

            .welcome {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                justify-self: center;

                .header {
                    font: $fontLargeBold;
                }
            }
        }
    }
}